[Unit]
Description=Collect and push channels information from FreeSWITCH Sqlite CoreDB to InfluxDB
Documentation=https://github.com/areski/freeswitch_realtime
After=syslog.target
After=network.target
After=postgresql.service
After=redis.service
After=epmd.service
#After=network.target influxd.service freeswitch.service

[Service]
Type=simple
TimeoutSec=120
User=root
Group=daemon
Environment=MIX_ENV=prod PORT=8888
ExecStart=/app/freeswitch_realtime/bin/fs_realtime start
ExecStop=/app/freeswitch_realtime/bin/fs_realtime stop
RestartSec=5
RemainAfterExit=yes
SyslogIdentifier=fs_realtime

[Install]
WantedBy=multi-user.target
Alias=freeswitch_realtime.service
